.App {
  font-family: "Josefin Slab", serif;
  text-align: center;
}
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1,
h2,
p,
form,
img {
  margin: 0 auto;
  display: block;
  font-family: "Josefin Slab", serif;
  text-align: center;
  color: #263238;
}
h1 {
  font-size: 2.5rem;
  padding-top: 30px;
}
p {
  font-size: 20px;
}
.padding50 {
  padding: 50px;
}
.padding80 {
  padding: 80px;
}
.paddingBottom20 {
  padding-bottom: 20px;
}
.paddingBottom30 {
  padding-bottom: 30px;
}
.paddingBottom50 {
  padding-bottom: 50px;
}
.boxGradient {
  max-width: 100%;
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
  border-radius: 20px;
  margin: 0 auto;
  display: block;
}
.smallerIcon {
  margin: 0 auto;
  display: block;
  /* font-size: 40px;
  line-height: 50px; */
  text-align: center;
  /* padding-bottom: 10px; */
}
